<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <!--<context-param>-->
        <!--<param-name>contextConfigLocation</param-name>-->
        <!--<param-value>/WEB-INF/buissniess-context.xml</param-value>-->
    <!--</context-param>-->
    <!--<listener>-->
        <!--<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>-->
    <!--</listener>-->
    <!--<servlet>-->
        <!--<servlet-name>Spring MVC Servlet</servlet-name>-->
        <!--<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>-->
        <!--<init-param>-->
            <!--<param-name>contextConfigLocation</param-name>-->
            <!--<param-value>/WEB-INF/mvc-context.xml</param-value>-->
        <!--</init-param>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
        <!--<servlet-name>Spring MVC Servlet</servlet-name>-->
        <!--<url-pattern>/Entries/service/*</url-pattern>-->
    <!--</servlet-mapping>-->
  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>se.vendler.webclient.server.GreetingServiceImpl</servlet-class>
  </servlet>
    <servlet>
        <servlet-name>se.vendler.webclient.Entries AccountController</servlet-name>
        <servlet-class>se.vendler.webclient.server.account.AccountControllerImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>se.vendler.webclient.Entries ClientController</servlet-name>
        <servlet-class>se.vendler.webclient.server.ClientControllerImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>se.vendler.webclient.Entries EntriesController</servlet-name>
        <servlet-class>se.vendler.webclient.server.EntriesControllerImpl</servlet-class>
    </servlet>

    <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/Entries/greet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
        <servlet-name>se.vendler.webclient.Entries AccountController</servlet-name>
        <url-pattern>/Entries/AccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>se.vendler.webclient.Entries ClientController</servlet-name>
        <url-pattern>/Entries/ClientController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>se.vendler.webclient.Entries EntriesController</servlet-name>
        <url-pattern>/Entries/EntriesController</url-pattern>
    </servlet-mapping>

    <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Entries.html</welcome-file>
  </welcome-file-list>

</web-app>
